


<form action="" class="signin-form">
    <div>
        <label for="email">E-MAIL</label>
        <input type="email" name="email" placeholder="Enter your email" autocomplete="on">
    </div>
    <div>
        <label for="password">PASSWORD</label>
        <input type="password" name="password" placeholder="******">
    </div>
    <div>
        <input type="checkbox" name="remember" >
        <span >Remember me ?</span>
    </div>
    <div>
        <input type="submit" value="Sign In" >
    </div>
</form>