<!-- <div> -->
  <div class="nav-holder"></div>
  <div class="main-container-holder">
    <div class="sidebar-holder"></div>
    <div class="content-holder"></div>
  </div>
  <div class="footer-holder"></div>
<!-- </div> -->