

<div class="add-article-container">
    <div class="add-article-title">
        <h1> Add Your Article </h1>
    </div>
    <form action="" class="line-numbers">
        <textarea class="my-text-area" id="textarea" placeholder="write your article">
            
        </textarea>

        <input type="submit" value="add article">
    </form>
    <div id="con"></div>
</div>