


    <!-- <div class="sidebar-content"> -->
        
        <div class="top-reading-container">
            
                <div>
                    <h1>Top reading</h1>
                </div>
                <div class="top-reading-content">
                    <div>
                        <p>
                            first article 
                        </p>
                    </div>
                    <div>
                        <p>
                            second article 
                        </p>
                    </div>
                    <div>
                        <a href="/top-reading" class="showmore">show more</a>
                    </div>
                </div>
            
        </div>
        <div class="best-writers-container">

            <div>
                <h1>
                    Best writers
                </h1>
            </div>
            <div>
                <a href="#">Ahmed Hasssan</a> 

            </div>
            <div>
                <a href="#">Sara Salah</a>
            </div>
            <div>
                <a href="#">Nora Ali</a>
            </div>
            <div>
                <a href="/best-writers" class="showmore">show more</a>
            </div>
        </div>
        
    <!-- </div> -->
