
<div class="article-container">
    <div class="article-address">
        <h1>Address</h1>

    </div>
    <div class="article-address">
        <h1>Author and Date</h1>

    </div>
    <div class="article-content">
        <div class="article-image">
            <div>
                <img src="../../../../../docs/22_2x.jpg" alt="no Image">
            </div>
        </div>
        <div class="article-text">
            
            <div >
                article wrtietebdhddg jdgdgdgdgd  sssdhfddefegefeefefefegfegffgfg
                shshhshshs
                jejejegejeg
                article wrtietebdhddg jdgdgdgdgd  sssdhfddefegefeefefefegfegffgfg
                shshhshshs
                

            </div>
            <div>
                <a href="#">Show more</a>
            </div>
        </div>
    </div>
    <div class="article-actions">
        <div>
            <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false"><g >
                <path d="M1 21h4V9H1v12zm22-11c0-1.1-.9-2-2-2h-6.31l.95-4.57.03-.32c0-.41-.17-.79-.44-1.06L14.17 1 7.59 7.59C7.22 7.95 7 8.45 7 9v10c0 1.1.9 2 2 2h9c.83 0 1.54-.5 1.84-1.22l3.02-7.05c.09-.23.14-.47.14-.73v-1.91l-.01-.01L23 10z" ></path>
              </g></svg>
        </div>
        <div>
            <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false"><g >
                <path d="M15 3H6c-.83 0-1.54.5-1.84 1.22l-3.02 7.05c-.09.23-.14.47-.14.73v1.91l.01.01L1 14c0 1.1.9 2 2 2h6.31l-.95 4.57-.03.32c0 .41.17.79.44 1.06L9.83 23l6.59-6.59c.36-.36.58-.86.58-1.41V5c0-1.1-.9-2-2-2zm4 0v12h4V3h-4z" ></path>
              </g></svg>
        </div>
        <div>
            <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false"  ><g >

                <path d="M11.7333 8.26667V4L19.2 11.4667L11.7333 18.9333V14.56C6.4 14.56 2.66667 16.2667 0 20C1.06667 14.6667 4.26667 9.33333 11.7333 8.26667Z" ></path>
              </g></svg>
        </div>
        <div>
            <svg viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet" focusable="false"  ><g >
                <path d="M14 10H2v2h12v-2zm0-4H2v2h12V6zm4 8v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zM2 16h8v-2H2v2z" ></path>
              </g></svg>
        </div>
    </div>
</div>

</div>