
<div class="profile-page">
    <div id='user-card-holder' class="user-card-holder"></div>
    <div id='middle-nav' class="middle-nav"></div>
    <div id='articles-holder' class="articles-holder"></div>
</div>