


<div>
    <ul>
        <li>
            <a href= /<%= data.getUsername() %> >
                Articles
            </a>
        </li>
        <li>
            <a href=/<%= data.getUsername() %>/likes >
                Likes
            </a>
        </li>
        <li>
            <a href=/<%= data.getUsername() %>/dislikes>
                Dislikes
            </a>
        </li>
        <li>
            <a href=/<%= data.getUsername() %>/saved>
                Saved
            </a>
        </li>
    </ul>
    
</div>